<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>444908003601-msmgkjooidkum790umdn0chof4ssh2nf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.444908003601-msmgkjooidkum790umdn0chof4ssh2nf</string>
	<key>API_KEY</key>
	<string>AIzaSyDTntQOEb6PcZNA-5QNqCjk6SzuyRjjFIw</string>
	<key>GCM_SENDER_ID</key>
	<string>444908003601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>LosTresAmigos.ScannerApp</string>
	<key>PROJECT_ID</key>
	<string>scanner-app-51539</string>
	<key>STORAGE_BUCKET</key>
	<string>scanner-app-51539.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:444908003601:ios:d8bc67b504cc694352acb0</string>
	<key>DATABASE_URL</key>
	<string>https://scanner-app-51539.firebaseio.com</string>
</dict>
</plist>